include ./Team

mixin AboutUs

    section#about.mb-7.mb-lg-16.mb-xl-11.text-center.text-md-start
        h4.mb-3.mb-lg-14.fs-7.fs-lg-5.fs-xl-12.text-success.fw-bold.lh-normal About us 
        h1.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.fw-light.mb-3.mb-lg-14.lh-normal
            | our     
            span.fw-bold Core 
            | team
            br
            | and their 
            span.fw-bold philosophy
        .row.mb-7.mb-lg-20.mb-xl-24
            .col-12.col-lg.px-2.mb-3.mb-lg-0 
                p.text-black.fs-9.fs.md-8.lh-xl.mb-0 
                    | Lorem ipsum dolor sit amet, consectetur 
                    | adipiscing elit. Semper lacus 
                    | ipsum odio felis neque aliquet scelerisque 
                    | eget venenatis. Morbi vitae, augue diam, 
                    | viverra malesuada quam. Enim feugiat aliquet 
                    | feugiat quis neque. Viverra
            .col-12.col-lg.px-2 
                p.text-black.fs-9.fs.md-8.lh-xl.mb-0 
                    | Lorem ipsum dolor sit amet, consectetur 
                    | adipiscing elit. Semper lacus 
                    | ipsum odio felis neque aliquet scelerisque 
                    | eget venenatis. Morbi vitae, augue diam, 
                    | viverra malesuada quam. Enim feugiat aliquet 
                    | feugiat quis neque. Viverra
        .d-flex.justify-content-center.align-items-center.mb-6.mb-lg-7.mb-xl-16 
            .d-lg-flex.align-items-center  
                div
                    img(src=`${CWD}assets/img/team/badhon.png`, alt="").w-100
                .about-card
                    h1.fs-7.fs-lg-5.fs-xl-12.text-success.fw-bold.lh-normal Meet Badhon
                    p.fs-9.fs-lg-8.text-primary.lh-normal.mb-0
                        | Dhruba Badhon lives in Dhaka with her husband, 
                        | Raihan Nil, their daughter, Shimul and two cats, 
                        | Pantha and Sanji. She began her professional carrier 
                        | at a scam house named Hexit.  At the summer of 2069, 
                        | she created a ...
        .text-center.mb-13.mb-lg-5 
            p.text-secondary.text-capitalize.fw-light.mb-0.fs-15.fs-lg-18 
                | meet the 
                span.fw-bold team
        .d-flex.justify-content-center
            .w-lg-75
                .row.mb-13.mb-lg-5.w-100
                    +Team('assets/img/team/team/6.png', "James T. Kirk", 'CFO', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper')
                    +Team('assets/img/team/team/5.png', "Montgomery Scott", 'Accounts', 'Semper sed eget. Sed consectetur tellus tortor porta enim, cursus ')
                    +Team('assets/img/team/team/4.png', "Nyota Uhura", 'Marketing', 'Cursus  turpis. Tristique neque aliquam nunc elementum imperdiet')
                .row.w-100
                    +Team('assets/img/team/team/3.png', "Hikaru Sulu", 'CFO', 'Imperdiet sed amet, fusce consequat magna non euismod sed. ')
                    +Team('assets/img/team/team/2.png', "Pavel Chekov", 'cTO', 'Turpis nec lorem nunc sagittis, aliquam adipiscing. Dolor aliquet')
                    +Team('assets/img/team/team/1.png', "Nyota Uhura", 'Human resource', ' condiment consequat, dolor id leo volutpat et. Viverra sem vitae ac.')



