mixin HeroSection 
    section.mb-9.mb-lg-10.mb-xl-11.text-center.text-lg-start
        .row.gap-4.gap-lg-0.mb-6.mb-lg-7.mb-xl-10.align-items-center
            .col-12.col-lg-6
                    img(src=`${CWD}assets/img/Hero/man_watering.png`, alt="").img-fluid.w-50.w-lg-100
            .col-12.col-lg-6
                h1.fs-5.fs-lg-3.fs-xl-2.text-black.fw-light.lh-normal.mb-4
                    | Be a 
                    span.fw-bold Plant Parent 
                    |today with 
                    span.text-gradient.fw-bold Aranyak
                p.fs-8.fs-xl-7.text-primary.mb-5.mb-lg-6.mb-xl-7.fw-light.lh-normal
                    | First timer or experienced, we have something for you. 
                    | Take a look at our vast collection of greenery & let us help you transform your household and front/back 
                    | yard.
                
                button.btn.btn-gradient.fs-8.d-inline-flex
                    span explore catalog
                    span.uil.uil-arrow-right
                
        
        .row.gap-4.gap-lg-0.align-items-center
            .col-12.col-lg-6.pr-0.order-1.order-lg-0
                p.fs-7.fs-lg-6.text-success.fw-bold.mb-x1 we have got you covered 
                h1.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.fw-light.lh-normal.mb-4
                    | However Popular or 
                    span.fw-bold rare plant 
                    | it is
                p.fs-8.fs-xl-7.text-primary.mb-5.mb-lg-6.mb-xl-7.fw-light.lh-normal
                    | Our catalog of plants of fruits and flowers; 
                    | for indoors and outdoors; is expanding everyday. 

                button.btn.btn-gradient.lh-button.fs-8.d-inline-flex
                    span explore catalog
                    span.uil.uil-arrow-right

            .col-12.col-lg-6.pr-0.order-0.order-lg-1
                    img(src=`${CWD}assets/img/Hero/planting.png`, alt="").img-fluid.img-fluid.w-50.w-lg-100