mixin Support 

    section#support.container.px-3.px-lg-0.mb-7.mb-lg-16.mb-xl-11.text-center.text-md-start
        .row.gap-lg-7.gap-xl-22 
            .d-none.d-lg-block.col-lg-5
                img(src=`${CWD}assets/img/illustrations/women_watering.png`, alt="").w-100 
            .col-12.col-lg-6.d-flex.flex-column.justify-content-center.h-100 
                p.mb-3.fs-7.fs-lg-5.fs-xl-12.text-success.fw-bold.lh-normal join us 
                h1.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.lh-normal.fw-light.mb-3    
                    | Subscribe to 
                    br
                    | our 
                    span.fw-bold Newsletter
                p.text-success.fs-8.fs-lg-14.text-capitalize.lh-xl.lh-lg-2xl.mb-3
                    | Get Our 
                    span.fw-bold Beginners Guide To Plant Parenthood 
                    | for free 

                form
                    div.input-group.position-relative 
                        input(type="email", name="email" placeholder="your email address").form-control.email-input 
                        div.absolute-div 
                            button(type="submit").btn.shadow-none.bg-success.rounded-circle.submit-button
                                i.uil.uil-arrow-right.text-white
                                 