mixin Support 

    section#support.mb-7.mb-lg-11.text-center.text-lg-start
        .row.gap-4.gap-lg-0.pt-6
            .d-none.d-lg-block.col-lg-6.text-center
                img(src=`${CWD}assets/img/illustrations/women_watering.png`, alt="").img-fluid 
            .col-12.col-lg-6.d-flex.flex-column.justify-content-center 
                p.mb-x1.fs-7.fs-lg-6.text-success.fw-bold.lh-normal join us 
                h1.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.lh-normal.fw-light.mb-5    
                    | Subscribe to 
                    br
                    | our 
                    span.fw-bold Newsletter
                p.text-success.fs-8.fs-lg-7.text-capitalize.lh-xl.lh-lg-2xl.mb-4
                    | Get Our 
                    span.fw-bold Beginners Guide To Plant Parenthood 
                    | for free 

                form.needs-validation
                    .input-group.position-relative 
                        input(type="email", name="email" placeholder="your email address").form-control.email-input 
                        .absolute-div 
                            button(type="submit").btn.shadow-none.bg-success.rounded-circle.submit-button
                                span.uil.uil-arrow-right.text-white
                                 