mixin Footer 

    footer(style=`background-image: url('${CWD}assets/img/illustrations/BOTTOM.png')` class="Footer")
        div.pb-x1.px-3.px-lg-0 
            .container.mx-auto 
                .row.d-lg-flex.align-items-end.justify-content-center
                    .col-12.col-md-4.d-flex.flex-column.justify-content-center.mb-3.mb-md-0
                        div.mb-3.mb-md-18.mb-md-19 
                            img(src=`${CWD}assets/img/logos/Footer_logo.png`, alt="")
                        div
                            div.mb-2.mb-md-25 
                                a(href="#").links.
                                    home
                            div.mb-2.mb-25 
                                a(href="about").links.
                                    about
                            div.mb-2.mb-25 
                                a(href="#products").links.
                                    catalog
                            div.mb-2.mb-25 
                                a(href="#review").links.
                                    review
                            div 
                                a(href="#support").links.
                                    support

                    .col-6.col-md-4.d-flex.flex-column.justify-content-end
                        div.mb-13.mb-md-18.mb-md-19 
                            p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.lh-normal.mb-0 User Account
                        div
                            div.mb-2.mb-25 
                                a(href="#").links.
                                    sign up
                            div.mb-2.mb-25 
                                a(href="about").links.
                                    log in 
                            div.mb-2.mb-25 
                                a(href="#products").links.
                                    edit profile
                            div.mb-2.mb-25 
                                a(href="#review").links.
                                    history
                            div 
                                a(href="#support").links.
                                    refund
    
                    .col-6.col-md-4.d-flex.flex-column.justify-content-end.h-100
                        div.mb-13.mb-md-18.mb-md-19 
                            p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.lh-normal.mb-0 Follow Us At 
                        div.mb-13.mb-md-27
                            a(href="#!").links.me-28
                                i.uil.uil-facebook.text-white
                            a(href="#!").links.me-28
                                i.uil.uil-instagram-alt.text-white
                            a(href="#!").links.me-28
                                i.uil.uil-youtube.text-white
                            a(href="#!").links
                                i.uil.uil-twitter.text-white
                        div 
                            div.mb-3
                                p(style="color: #FFF0D3;").fs-10.fs-md-9.fw-bold.lh-nomal.mb-0    Contact 
                            div.fs-10.fs-md-9
                                p.lh-normal.mb-0.text-white.opacity-70  Md Sourav Mostafa
                                p.lh-normal.mb-0.text-white.opacity-70  Dhaka, Bangladesh
                                p.lh-normal.mb-0.text-white.opacity-70  +880 177 938 7790
                            
                         
           

