mixin Footer 

  footer(style=`background-image: url('${CWD}assets/img/illustrations/BOTTOM.png')` class="Footer")
    .pb-x1.px-3.px-lg-0 
      .container 
        .row.align-items-end.g-4.g-sm-6
          .col-6.col-md-4
            .mb-3.mb-md-5 
              img(src=`${CWD}assets/img/logos/Footer_logo.png`, alt="").img-fluid.w-75.w-sm-100
            div
              .mb-2 
                a(href="#").links.
                  home
              .mb-2 
                a(href="#about").links.
                  about
              .mb-2 
                a(href="#products").links.
                  catalog
              .mb-2 
                a(href="#review").links.
                  review
                
              a(href="#support").links.
                support

          .col-6.col-md-4
            .mb-3.mb-md-5 
              p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.mb-0 User Account
            div
              .mb-2 
                a(href="#!").links.
                  sign up
              .mb-2 
                a(href="#!").links.
                  log in 
              .mb-2 
                a(href="#!").links.
                  edit profile
              .mb-2 
                a(href="#!").links.
                  history
                
              a(href="#!").links.
                refund

          .col-12.col-md-4
            .row.g-4.g-sm-6.g-md-0
              .col-6.col-md-12
                .mb-3.mb-md-5 
                  p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.mb-0 Follow Us At 
                .mb-3.mb-md-4
                  a(href="#!").links.me-2
                    span.uil.uil-facebook.text-white.fs-8
                  a(href="#!").links.me-2
                    span.uil.uil-instagram-alt.text-white.fs-8
                  a(href="#!").links.me-2
                    span.uil.uil-youtube.text-white.fs-8
                  a(href="#!").links
                    span.uil.uil-twitter.text-white.fs-8
              .col-6.col-md-12 
                .mb-3
                  p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.lh-nomal.mb-0    Contact 
                .fs-10.fs-md-9
                  p.mb-0.text-white.opacity-70  Md Sourav Mostafa
                  p.mb-0.text-white.opacity-70  Dhaka, Bangladesh

    .bg-success.py-2.py-md-3.position-relative.terms-condition
      .overley-background
      .container.py-12.text-div.text-md-end
        a(href="#!").links.ms-lg-4   F.A.Q 
        a(href="#!").links.ms-3.ms-lg-4   Cookies Policy
        a(href="#!").links.ms-3.ms-lg-4   Legal Terms 
        a(href="#!").links.ms-3.ms-lg-4   Privacy Policy
                        
                      
        

