mixin ProductItem(imgSrc, productTitle, text)
	div.product-card.swiper-slide.h-auto
		.position-relative
			img(src=`${CWD}${imgSrc}`, alt="").w-100.rounded-image
			.add-section
				a(href="/").d-flex.align-items-center
					div(style="margin-right: 5px;")
						i.uil.uil-file-heart.text-success
					span.fs-10.fs-md-9.text-success.fw-bold add to wishlist 

				a(href="/").d-flex.align-items-center
					div(style="margin-right: 5px;")
						i.uil.uil-shopping-cart.text-success
					span.fs-10.fs-md-9.text-success.fw-bold add to cart

		.product-card-body 
			h2.text-success.fs-8.fs-md-8.fw-semi-bold.lh-normal= productTitle 
			p.text-cardText.fs-10.fs-md-9.text-capitalize.lh-xl= text 
