mixin TermsAndConditions 

    section.bg-success.py-2.py-md-3.position-relative.terms-condition
        div.overley-background
        div.container.py-12.text-div.text-md-end.px-3.px-lg-0
            a(href="#!").links.ms-3.ms-lg-4   F.A.Q 
            a(href="#!").links.ms-3.ms-lg-4   Cookies Policy
            a(href="#!").links.ms-3.ms-lg-4   Legal Terms 
            a(href="#!").links.ms-3.ms-lg-4   Privacy Policy