append content 
    footer.Footer
        .container.mx-auto 
            .row 
                .col-12.col-md-3.col-lg-.d-flex.flex-column.justify-end.h-100
                    div.mb-13.mb-md-18.mb-md-19 
                        img(src=`${CWD}assets/img/logos/logo.svg`, alt="")
                    div(style="gap:12px;").d-flex.flex-column
                        div 
                            a(href="#").links.
                                home
                        div 
                            a(href="about").links.
                                about
                        div 
                            a(href="#products").links.
                                catalog
                        div 
                            a(href="#review").links.
                                review
                        div 
                            a(href="#support").links.
                                support

                .col-12.col-md-3.col-lg-.d-flex.flex-column.justify-end.h-100
                    div.mb-13.mb-md-18.mb-md-19 
                        p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.lh-normal.mb-0 User Account
                    div(style="gap:12px;").d-flex.flex-column
                        div 
                            a(href="#").links.
                                home
                        div 
                            a(href="about").links.
                                about
                        div 
                            a(href="#products").links.
                                catalog
                        div 
                            a(href="#review").links.
                                review
                        div 
                            a(href="#support").links.
                                support
 
                .col-12.col-md-4.col-lg-.d-flex.flex-column.justify-end.h-100
                    div.mb-13.mb-md-18.mb-md-19 
                        p(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.lh-normal.mb-0 Follow Us At 
                    div(style="gap:12px;").d-flex.flex-column
                        div 
                            a(href="#").links.
                                home
                        div 
                            a(href="about").links.
                                about
                        div 
                            a(href="#products").links.
                                catalog
                        div 
                            a(href="#review").links.
                                review
                        div 
                            a(href="#support").links.
                                support
 