mixin Sidebar(elements)
  .card.sticky-top
    .card-header.border-bottom
      h6.mb-0.fs-9 On this page
    .card-body
      #terms-sidebar.terms-sidebar.nav.flex-column.fs-10
        each element in elements
          .nav-item
            a.nav-link.px-0.py-1(href=`${element.link}`)=element.linkText
