mixin LayoutContent  

  div()&attributes(attrsLayout)

    block wrapperContent
      block beforeContent

      .content()&attributes(attrsContent)

        block navbarTop 
          +Navbar

        block content
        +Footer 

      block afterContent
