mixin LayoutContent  

  div()&attributes(attrsLayout)

    block wrapperContent
      block beforeContent

      .content()&attributes(attrsContent)

        block navbarTop 

        block content

      block afterContent
