append content 
    #blogs.container.mx-auto.px-3.px-lg-0.mb-7.mb-lg-16.mb-xl-11 
        p.mb-3.mb-lg-14.fs-7.fs-lg-5.fs-xl-12.text-success.fw-bold aryanak blog 
        
        p.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.fw-light.mb-13.mb-lg-5    
            | To Bring more 
            span.fw-bold Green
            br
            | into 
            span.fw-bold your home