include ../../mixins/common/Review

append content
    #review.container.mx-auto.px-3.px-lg-0.mb-7.mb-lg-16.mb-xl-11 
        p.mb-3.mb-lg-14.fs-7.fs-lg-5.fs-xl-12.text-success.fw-bold.lh- review 
        
        p.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.lh-normal.fw-light.mb-13.mb-lg-5    
            | Some words from 
            br
            | our 
            span.fw-bold Lovely customers
        .row.g-lg-6 
            .col-12.col-lg-6
                +Review(
                        5,
                        "I’m not really a customer of this site, but their free gardening guide helped me a lot. Thank you ...", 
                        'Ahsoka Tano', 
                        'Firefighter','1.png'
                    )
                +Review(
                        5,
                        "Aranyak is the perfect place for making yourself surrounded by lots and lots of plant with a guide of extensive details of how to take care of them😘", 
                        'Sabine Wren', 
                        'Influencer & Plant lover',
                        '2.png'
                    )
                +Review(
                        5,
                        "I’ve brought dozens of plants over the year from this site and not a penny wasted. All arround good service and professionalism from Aranyak. keep it up guys. ", 
                        'Ezra Bridger', 
                        'Small-time thief',
                        '3.png'
                    )
                div.d-flex.justify-content-center
                div.mt-6.mt-lg-7.mt-xl-16.d-flex.justify-content-center 
                    button.btn.btn-gradient
                        span.fs-8.lh-button load more
            .d-none.d-lg-block.col-lg-6
                img(src=`${CWD}assets/img/illustrations/loveletter.png`, alt="").w-100