append content 
    div.bg-success.py-2.py-md-3.position-relative.terms-condition
        div.overley-background
        div.container.mx-auto.d-flex.justify-content-center.justify-content-md-end.py-12.gap-3.gap-md-4.text-div
            div 
                a(href="/").links   F.A.Q 
            div
                a(href="/").links   Cookies Policy
            div 
                a(href="/").links   Legal Terms 
            div
                a(href="/").links   Privacy Policy
        .cloud 
            img(src=`${CWD}assets/img/illustrations/Cloud.svg`, alt="")