extends ../../../layouts/LayoutComponent
include ../../../mixins/components/navbar/Navbar

append variables
  
  
  -
    var pageHeader = {
      title: 'Navbar',
      description: "Documentation and examples for Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding, navigation, and more, including support for Bootstrap collapse plugin.",
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/navbar/`,
      linkText: 'Navbar on Bootstrap'
    }

append content
  +PageHeader(pageHeader)

  
  +ComponentCard({
    title: 'Color schemes',
    anchor: true,
  }).mb-3
    +Navbar('navbarDarkExample').bg-dark.navbar.mb-3(data-bs-theme="dark")
    +Navbar('navbarPrimaryExample').bg-primary.navbar.mb-3(data-bs-theme="dark")
    +Navbar('navbarPrimaryExample').bg-primary-subtle.navbar(data-bs-theme="light")
