mixin TextColorsExample
  h5.text-primary .text-primary
  h5.text-primary-emphasis .text-primary-emphasis
  h5.text-secondary .text-secondary
  h5.text-secondary-emphasis .text-secondary-emphasis
  h5.text-success .text-success
  h5.text-success-emphasis .text-success-emphasis
  h5.text-danger .text-danger
  h5.text-danger-emphasis .text-danger-emphasis
  h5.text-warning .text-warning
  h5.text-warning-emphasis .text-warning-emphasis
  h5.text-info .text-info
  h5.text-info-emphasis .text-info-emphasis
  h5.text-dark 
    span.bg-light .text-dark
  h5.text-dark-emphasis .text-dark-emphasis
  h5.text-light
    span.bg-dark .text-light
  h5.text-light-emphasis .text-light-emphasis
  br
  h5.text-body .text-body
  h5.text-body-emphasis .text-body-emphasis
  h5.text-body-secondary .text-body-secondary
  h5.text-body-tertiary .text-body-tertiary
  br
  h5.text-black
    span.bg-light .text-black
  h5.text-white 
    span.bg-dark .text-white
  h5.text-black-50
    span.bg-light .text-black-50
  h5.text-white-50
    span.bg-dark .text-white-50
  br
  h5.text-1000 .text-1000
  h5.text-900 .text-900
  h5.text-800 .text-800
  h5.text-700 .text-700
  h5.text-600 .text-600
  h5.text-500 .text-500
  h5.text-400 .text-400
  h5.text-300 .text-300
  h5.text-200 .text-200
  h5.text-100
    span.bg-dark.dark__bg-light .text-100

mixin TextOpacityExample
  h5.text-primary This is default primary text
  h5.text-primary.text-opacity-75 This is 75% opacity primary text
  h5.text-primary.text-opacity-50 This is 50% opacity primary text
  h5.text-primary.text-opacity-25 This is 25% opacity primary text