.blog-card {
    background-color: $white;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    overflow: hidden;
    .blog-card-top{
        min-height: 28rem;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: 22px;
        .inner-div {
            border-radius: 0px 15px;
            width: fit-content;
            padding: 10px 20px;
            color: $white;
            background: rgba(18, 72, 56, 0.75);
        }
    }

    .blog-title {
        font-size: 24px;

        @include media-breakpoint-up(md){
            font-size: 30px;
        }
    }
    @include hover-focus {
        border: 2px solid map-get($theme-colors, 'secondary');
        border-radius: 23px;
        .inner-div {
            background: rgba(255, 255, 255, 0.90);
            color: rgba(18, 72, 56, 0.75);;
        }
    }
}

a:hover,a:focus {
    text-decoration: none;
}