.blog-card {
    background-color: $white;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 22px;
    overflow: hidden;
    .inner-div {
        border-radius: 0px 15px;
        padding: 10px 20px;
        color: $white;
        background: rgba(18, 72, 56, 0.75);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .blog-title {
        font-size: 24px;

        @include media-breakpoint-up(md){
            font-size: 30px;
        }
    }
    @include hover-focus {
        border: 2px solid map-get($theme-colors, 'secondary');
        .inner-div {
            background: rgba(255, 255, 255, 0.90);
            color: rgba(18, 72, 56, 0.75);;
        }
    }
}

a:hover,a:focus {
    text-decoration: none;
}