.blog-card {
    background-color: white;
    
    .inner-div {
        width: fit-content;
        border-radius: 0px 20px;
        padding: 10px 20px;
        color: white;
        background: rgba(18, 72, 56, 0.75);
        position: absolute;
        bottom: 0;
    }

    .blog-title {
        font-size: 24px;

        @include media-breakpoint-up(md){
            font-size: 30px;
        }
    }
    @include hover-focus {
        .inner-div {
            background: rgba(255, 255, 255, 0.90);
            color: rgba(18, 72, 56, 0.75);;
        }
    }
}

a:hover,a:focus {
    text-decoration: none;
}