

.btn {
  --#{$prefix}btn-border-width: var(--#{$prefix}border-width);
}


.btn-gradient {
  border-radius: 40px;
  background: linear-gradient(93deg, #85C7B3 -18.71%, #265C4C 117.68%), #FFF;
  color: $white;
  font-weight: $font-weight-bold;
  padding: 8px 40px;
  display: inline-block;
  gap: 21px;
  width: fit-content;
  box-shadow: none !important;
  border: none !important;
  transition: outline 0.3s ease-in-out, background 1s ease-in-out;

  &:hover, &:focus, &:active{
    padding: 7px 40px;
    color: map-get($theme-colors, 'success');
    background: linear-gradient(93deg, rgba(113, 179, 159, 0.00) -18.71%, rgba(18, 72, 56, 0.00) 117.68%), #FFF;
    border-radius: 40px;
    border: 1px solid map-get($theme-colors, 'success') !important;
    outline: 4px solid #85C7B3 !important;
    outline-offset: 5px;
  }
  @include media-breakpoint-up(sm){
    padding: 10px 70px;

    &:hover, &:focus, &:active{
      padding: 9px 70px;
      color: map-get($theme-colors, 'success');
      background: linear-gradient(93deg, rgba(113, 179, 159, 0.00) -18.71%, rgba(18, 72, 56, 0.00) 117.68%), #FFF;
      border-radius: 40px;
      border: 1px solid map-get($theme-colors, 'success') !important;
      outline: 4px solid #85C7B3 !important;
      outline-offset: 5px;
    }
  }
  @include media-breakpoint-up(lg){
    padding: 12px 80px;

    &:hover, &:focus, &:active{
      padding: 11px 80px;
      color: map-get($theme-colors, 'success');
    background: linear-gradient(93deg, rgba(113, 179, 159, 0.00) -18.71%, rgba(18, 72, 56, 0.00) 117.68%), #FFF;
    border-radius: 40px;
    border: 1px solid map-get($theme-colors, 'success') !important;
    outline: 4px solid #85C7B3 !important;
    outline-offset: 5px;
    }
  }
  .arrow-right-alt{
    display: none;
  }

}

// disabled btn box shadow
.btn {
  &:disabled {
    @include box-shadow(var(--#{$prefix}btn-box-shadow));
  }
}