// /* -------------------------------------------------------------------------- */
// /*                                 Navbar Top                                 */
// /* -------------------------------------------------------------------------- */


.sub-navbar {
  gap:27.67px; 
  padding:10px 0px 10px 10px;

  a:hover {
    text-decoration: none;
  }
}


.navbar-main {
  a:hover, :focus{
    text-decoration: none;
  }
}

.nav-bar-item{
  color: #535353 !important;
  font-size: 20px !important;
  font-weight: 500;
  line-height: normal;
  &:hover{
    color: #124838 !important;
    font-weight: 700 !important;
  }
}
