.product-card {
    border-radius: 22px;
    background: rgba(255, 217, 145, 0.65);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.05);
    margin: 10px 0;

    .add-section {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: rgba(255, 217, 145, 0.80);
        gap: 30px;

        @include media-breakpoint-up(md) {
            justify-content: center;
            padding: 10px;
        }
        @include media-breakpoint-up(xl) {
            gap: 75px;
        }

        a {
            text-decoration: none;
        }
        span {
            font-size: 25px;
            line-height: 0%;
        }
    }

    .product-card-body {
        @include media-breakpoint-up(lg) {
            padding: 0 40px;
        }
    }

    &:hover,
    &:focus,
    &:active {
        border-radius: 18px;
        outline: 3px solid map-get($theme-colors, 'warning' );
        outline-offset: 2px;
        box-shadow: none;
        .add-section {
            background: rgba(255, 255, 255, 0.90);
        }
    }
}

.swiper-container {
    padding: 0px 10px;
    margin: 0px -10px;
}

.slider-nav {
    display: block;
    .next-button, .prev-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999 ;
        display: flex;
        align-items: center;
        padding: 0 5px;
        height: fit-content;
        opacity: 80%;
        background-color: #E2FFF6;
        border: 5px solid map-get($theme-colors, 'success');
        border-radius: map-get($border-radiuses, 'circle');
        font-weight: $font-weight-bold;
        color: map-get($theme-colors, 'success');

        span {
            &::before{
                line-height: normal !important;
            }
        }

        @include media-breakpoint-up(md){
            padding: 0 10px;
        }
        &:hover, &:focus, &:active {
            background-color: $white;
            border: 5px solid map-get($theme-colors, 'success');
            translate: scale(0.9);
        }
    }
    .prev-button {
        right: 90%;

        @include media-breakpoint-up(sm){
            right: 96%;
        }

        @include media-breakpoint-up(xl){
            right: 97%;
        }

    }
    .next-button {
        left: 90%;

        @include media-breakpoint-up(sm){
            left: 96%;
        }

        @include media-breakpoint-up(xl){
            left: 97%;
        }
    }

}

