.product-card {
    border-radius: 22px;
    background: rgba(255, 217, 145, 0.65);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    height: 100%;
    overflow: hidden !important;
    .product-card-top{
        min-height: 29rem;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .add-section {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 10px 20px;
        background: rgba(255, 217, 145, 0.80);

        @include media-breakpoint-up(md) {
            justify-content: center;
            padding: 10px 16px;
        }
        @include media-breakpoint-up(xl) {
            padding: 10px 16px;
            gap: 60px;
        }

        a {
            text-decoration: none;
            color: map-get($theme-colors, 'success') !important;
            font-weight: $font-weight-bold;
            span {
                font-size: 25px;
                line-height: 0%;   
            }

            @include hover-focus {
                color: map-get($theme-colors, 'secondary') !important;
            }
        }

    }

    .product-card-body {
        height: 100%;
        @include media-breakpoint-up(lg) {
            padding: 0 40px;
        }
    }

    &:hover,
    &:focus,
    &:active {
        outline: 2px solid map-get($theme-colors, 'secondary' );
        box-shadow: none;
        .add-section {
            background: rgba(255, 255, 255, 0.90);
        }
    }
}

.swiper-container {
    padding: 0px 10px;
    margin: 0px -10px;
}

.slider-nav {
    .next-button, .prev-button {
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999 ;
        height: 50px;
        width: 50px;
        opacity: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2FFF6;
        border: 5px solid map-get($theme-colors, 'success');
        border-radius: map-get($border-radiuses, 'circle');
        font-weight: $font-weight-bold;
        color: map-get($theme-colors, 'success');
        
        span{
            font-size: 23px;
        }

        &:hover, &:focus, &:active {
            background-color: $white;
            border: 5px solid map-get($theme-colors, 'success');
            translate: scale(0.9);
        }
    }
    .prev-button {
        left: -3%;

        @include media-breakpoint-up(lg){
            left: -2%;
        }
    }
    .next-button {
        right: -3%;

        @include media-breakpoint-up(lg){
            right: -2%;
        }
    }

}

