.absolute-div{
    position:absolute; 
    right:0; 
    top: 0; 
    bottom: 0;
    height: 100%;
    z-index: 100;

    .submit-button{
        width: fit-content;
        padding: 0 5px;
        height: 100%;
        span {
            font-size: 50px;
            line-height: 0%;
        }
    }
}
