.beginner-guide{
    line-height: 1.5;
}

.absolute-div{

    height: 100%;
    .submit-button{

    position:absolute; 
    right:0; 
    top: 0; 
    z-index: 100;
        height: 100%;
        padding: 5px 15px;
        span {
            display: inline-flex;
            align-items: center;
            font-size: 25px;
            &::before{
                display: inline-flex;
                align-items: center;
                line-height: normal;
            }
        }

    }
}
